
<h4> Informações </h4>

<div class="enrollment-request-help">

<% unless ClassSchedule.exists? %>
<p> Para a inscrição online em disciplinas de alunos, comece criando um <%= link_to "Quadro de Horários", class_schedules_path %> com a configuração de datas para inscrição e período de ajustes. </p>
<% end %>

<p> Durante a inscrição online, alunos fazem <%= link_to "Pedidos de Inscrição", enrollment_requests_path %> com <%= link_to "Pedidos de Disciplinas", class_enrollment_requests_path %>. Esses pedidos devem ser validados e efetivados. </p>

<p> Inicialmente, um pedido de disciplina é criado com a situação <span class='status'><i class='fa fa-question-circle'></i> Solicitada</span>, indicando que nenhuma decisão foi tomada ainda. 
    Orientadores, coordenação e secretaria podem atuar no pedido alterando a situação de cada disciplina para <span class='status'><i class='fa fa-times-circle'></i> Inválida</span> ou <span class='status'><i class='fa fa-check-circle'></i> Válida</span> e podem enviar comentários para que o aluno faça ajustes. </p>

<p> Este processo de validação de pedidos <em>não</em> resulta automaticamente na criação de <%= link_to "Inscrições", class_enrollments_path %>.
    Para que inscriçoes sejam criadas, é necessário que os pedidos de disciplinas sejam <span class='status'><i class='fa fa-plus-circle'></i> Efetivados</span> pela coordenação ou secretaria. </p>

<% if can? :effect, ClassEnrollmentRequest %>
<p> Pedidos podem ser efetivados individualmente, ou podem ser efetivados de uma vez por meio da ação no topo de <%= link_to "Efetivar Inscrições", class_enrollment_requests_path %>. 
    Esta ação é sujeita à condições de busca. Portanto, é possível usar a busca para selecionar todas as disciplinas válidas e efetivá-las de uma vez.
<% end %>


<h5> Resumo de situações: </h5>
<ul>
<li> <span class='status'><i class='fa fa-times-circle'></i> Inválida</span>: Pedido invalidado por orientador, coordenação ou secretaria </li>
<li> <span class='status'><i class='fa fa-question-circle'></i> Solicitada</span>: Pedido feito por aluno ainda sem decisão </li>
<li> <span class='status'><i class='fa fa-check-circle'></i> Válida</span>: Pedido validado por orientador, coordenação ou secretaria </li>
<li> <span class='status'><i class='fa fa-plus-circle'></i> Efetivada</span>: Pedido válido e efetivado como uma inscrição em disciplina pela coordenação ou secretaria </li>
</ul>

</div>

<%= link_to as_(:close), main_path_to_return, :class => 'as_cancel', :remote => true, :data => {:refresh => true} %>