<% 
   method ||= :patch
   form_action ||= :validate
   url_options ||= params_for(:action => form_action)
   xhr = request.xhr? if xhr.nil?
   submit_text ||= form_action
   form_id = element_form_id(action: form_action, id: @record&.id)
%>
<%=
options = {:id => form_id,
           :multipart => false,
           :class => "as_form #{form_action.to_s}",
           :method => method,
           'data-loading' => defined?(loading) ? loading : true}
cancel_options = {:class => 'as_cancel'}

cancel_options[:remote] = true if xhr
options[:remote] = true if xhr
form_tag url_options, options

-%>

<h4><%= active_scaffold_config.show.label(@record.to_label.nil? ? nil : h(@record.to_label)) %></h4>

<div id="<%= element_messages_id(:action => form_action) %>" class="messages-container">
  <% unless xhr %>
    <p class="error-message message server-error" style="display:none;">
      <%= as_(:internal_error).html_safe %>
      <a href="#" class="close" title="<%= as_(:close).html_safe %>"><%= as_(:close).html_safe %></a>
    </p>
  <% end %>
  <%= render :partial => 'form_messages' %>
</div>

<ol class="form">
  <%= content_tag :li, class: ["required", "form-element", "select"] do %>
    <dl>
      <dt>
        <label for="record_status_<%= @record.id %>"><%= t 'activerecord.attributes.enrollment_request.status' %>
      </dt>
      <dd>
        <select name="record[status]" class="status-input" id="record_status_<%= @record.id %>" required="required">
          <option value><%= t("active_scaffold._select_") %></option>
          <% ClassEnrollmentRequest::STATUSES.each do |status| %>
            <option value="<%= status %>"<%= status == @record.status ? 'selected="selected"' : ""%>><%= status %></option>
          <% end %>
        </select>

        <label> <input class="status-auto" type="checkbox" checked> Automático </label>
      </dd>
    </dl>
  <% end %>
  
  <% cer_subform_id = sub_form_id(association: :class_enrollment_requests) %>
  <%= content_tag :li, class: ["sub-form-enroll"], id: cer_subform_id do %>
    <h5> 
      <%= t 'activerecord.attributes.enrollment_request.class_enrollment_requests' %> 
      <%= link_to_visibility_toggle "#{cer_subform_id}-div" %>
    </h5>
    <div id="<%= cer_subform_id %>-div">
      <input type="hidden" name="record[class_enrollment_requests][0]" value="">
      <% table = prepare_class_schedule_table(@record.class_enrollment_requests.collect(&:course_class)) %>
      <table class="disable-pointer enroll-table <%= sub_form_list_id(association: :class_enrollment_requests) %>">
        <thead>
          <tr>
            <% ClassEnrollmentRequest::STATUSES.each do |status| %>
              <th> <%= status %> </th>
            <% end %>
            <% table[:header][0].drop(1).each do |head| %>
              <th class="cell-<%= head.downcase %>"> <%= head %> </th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% table[:data].each do |row| %>
            <tr> 
              <% cer = @record.class_enrollment_requests.find_by(course_class_id: row[0]) %>
              <input type="hidden" name="record[class_enrollment_requests][<%=cer.id%>][id]" value="<%=cer.id%>">
              <input type="hidden" name="record[class_enrollment_requests][<%=cer.id%>][course_class]" value="<%=cer.course_class_id%>">
              <input type="hidden" name="record[class_enrollment_requests][<%=cer.id%>][class_enrollment]" value="<%=cer.class_enrollment_id%>">
              <% ClassEnrollmentRequest::STATUSES.each do |status| %>
                <td> <label> <input <%= class_request_attribute(status, cer.status) %> name="record[class_enrollment_requests][<%=cer.id%>][status]"/> </label> </td>
              <% end %>
              <% row.drop(1).each_with_index do |cell, index| %>
                <td class="cell-<%= table[:header][0][index + 1].downcase %>">
                  <label> <%= cell %> </label>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <% ClassEnrollmentRequest::STATUSES.each do |status| %>
              <th> 
                <% if status != ClassEnrollmentRequest::EFFECTED %>
                  <a href="#" class="enrollment-request-all" data-attr="<%= status.parameterize %>"> Todas </a>
                <% end %>
              </th>
            <% end %>
            <% table[:header][0].drop(1).each do |head| %>
              <th></th>
            <% end %>
        </tfoot>
      </table>
    </div>
  <% end %>


  <% comment_subform_id = sub_form_id(association: :enrollment_request_comments) %>
  <%= content_tag :li, class: ["sub-form-comment"], id: comment_subform_id do %>
    <h5> 
      <%= t 'activerecord.attributes.enrollment_request.enrollment_request_comments' %> 
      <%= link_to_visibility_toggle "#{comment_subform_id}-div" %>
    </h5>
    <div id="<%= comment_subform_id %>-div" class="enroll-messages">
      <div class="log">
        <% last_read = @record.last_staff_read_time %>
        <% @record.enrollment_request_comments.each do |comment| %>
          <div class="enroll-message  <%= comment.updated_at > last_read && comment.user != current_user ? "new-message" : "old-message" %>">
            <span class="time"> <%= t('student_enrollment.enroll.message.time', time: comment.updated_at) %> </span>
            <span class="author"> <%= t('student_enrollment.enroll.message.author', author: comment.user.name) %> </span>
            <span class="content"> <%= simple_format(comment.message) %> </span>
          </div>
        <% end %>
      </div>

      <div class="message-box">
        <span class="send-message"> <%= t('student_enrollment.enroll.message.send') %> </span>
        <%= text_area_tag("record[comment_message]", @comment.nil? ? "" : @comment.message, size: '100x4' ) %>
      </div>
    </div>
  <% end %>
 </ol>
  <p class="form-footer">
    <%= submit_tag as_(submit_text), :class => "submit" %>
    <%= link_to(as_(:cancel), main_path_to_return, cancel_options) %>
    <%= loading_indicator_tag(action: form_action, id: @record&.id) %>
  </p>

<script>

$(".enrollment-request-all").click(function() {
  let attr = $(this).data('attr')
  $(this).parents('.enroll-table').find('.radio-' + attr).click();
  return false;
})

$(".class-enrollment-request-status-radio").change(function() {
  let form = $(this).parents('ol.form'); 
  if (form.find('.status-auto').prop("checked")) {
    let all_valid = true;
    let all_effected = true;
    let any_invalid = false;
    form.find(".class-enrollment-request-status-radio:checked").each(function() {
      let value = $(this).val();
      if (value != "<%= ClassEnrollmentRequest::VALID %>") {
        all_valid = false;
      }
      if (value != "<%= ClassEnrollmentRequest::EFFECTED %>") {
        all_effected = false;
      }
      if (value == "<%= ClassEnrollmentRequest::INVALID %>") {
        any_invalid = true;
      }
    });
    if (all_effected) {
      form.find(".status-input").val("<%= ClassEnrollmentRequest::EFFECTED %>");
    } else if (all_valid) {
      form.find(".status-input").val("<%= ClassEnrollmentRequest::VALID %>");
    } else if (any_invalid) {
      form.find(".status-input").val("<%= ClassEnrollmentRequest::INVALID %>");
    } else {
      form.find(".status-input").val("<%= ClassEnrollmentRequest::REQUESTED %>");
    }
  }
})

</script>