<div id="login_form_wrapper">
  <h2>Reenviar confirmação</h2>

  <% if flash[:alert]  %>
    <div id="error_login">
    <%= flash[:alert] %>
    </div>
  <% end %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div id="form_border">

    <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>

      <div><%= f.label :email %><br />
      <%= f.email_field :email %></div>

      <br>

      <div><%= f.submit "Enviar instruções" %></div>
    <% end %>
  </div>

</div>

<%= render :partial => "devise/shared/links" %>