<!-- app/views/assertions/execute.html.erb -->

<h4> <%= @assertion.to_label %> </h4>

<%= render "assertions/params_form", resource: @assertion, query_params: @query_params %>

<table>
  <thead>
  <tr>
    <% @query_result[:columns].each do |column| %>
      <th><%= column %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @query_result[:rows].each do |row| %>
    <tr>
      <% row.each do |value| %>
        <td><%= value %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<script type="text/javascript">
    $(".execute.as_action.again").click(function () {
        ActiveScaffold.find_action_link(
            $("#as_queries-execute-<%= @assertion.id %>-link")
        ).reload();
    })
</script>