<div class="landing-main edit-profile-main">
  <h2>Editar perfil</h2>

  <%= form_for(
    resource,
    as: resource_name,
    url: registration_path(resource_name),
    html: { method: :put }
  ) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <ol class="form">
      <li class="form-element required">
        <dl>
          <dt> <%= f.label :email %> </dt>
          <dd>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", id: "email_field" %>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div class="info">Aguardando confirmação para: <%= resource.unconfirmed_email %></div>
            <% end %>
          </dd>
        </dl>
      </li>

      <li class="form-element">
        <dl>
          <dt>
            <%= f.label :password %>
            <div class="info">
              Deixe em branco se não quiser alterar
              <% if @minimum_password_length %>
                <br />
                <em>Mínimo de <%= @minimum_password_length %> caracteres</em>
              <% end %>
            </div>
          </dt>
          <dd>
            <%= f.password_field :password, autocomplete: "new-password" %>
          </dd>
        </dl>
      </li>

      <li class="form-element">
        <dl>
          <dt> <%= f.label :password_confirmation %> </dt>
          <dd> <%= f.password_field :password_confirmation, autocomplete: "new-password" %> </dd>
        </dl>
      </li>

      <li class="form-element required">
        <dl>
          <dt> 
            <%= f.label :current_password %> <br>
            <div class="info">
              Precisamos da senha atual para confirmar as alterações
            </div>
          </dt>
          <dd> <%= f.password_field :current_password, autocomplete: "current-password" %> </dd>
        </dl>
      </li>
    </ol>

    <div class="actions">
        <%= f.submit "Atualizar", class: "submit" %>
    </div>
  <% end %>
</div>
