<%
  record = @admission_application
  no_phase = @admission_application.admission_phase_id.nil?
  show_groups = !no_phase
  can_edit = @admission_application.candidate_can_edit
  can_edit_main = no_phase || @admission_application.admission_phase.candidate_can_edit
  form_id = "apply_form"
%>

<div class="content">
  <div class="active-scaffold default-theme">
    <div class="active-scaffold-header">
      <h2><%= @admission_process.title %></h2>
    </div>
    <div class="admission-inner">
      <%= form_with model: @admission_application,
          scope: :record,
          url: @submission_url,
          id: form_id,
          method: @submission_method,
          class: "as_form create",
          authenticity_token: true,
          multipart: true do |form| %>
        <h4> <%= t "admissions.apply.edit.title" %> </h4>
        <div class="messages-container">
          <% count = @admission_application.errors.count + (flash[:alert].present? ? 1 : 0) %>
          <% if count > 0 %>
            <div id="errorExplanation" class="errorExplanation">
              <h2><%= t("errors.admissions.invalid_basic", count: count) %></h2>
              <p><%= t "errors.template.body" %></p>
              <ul>
                <% if flash[:alert] %>
                  <li><%= flash[:alert] %></li>
                <% end %>
                <% @admission_application.errors.each do |error| %>
                  <li>
                    <% if error.attribute.start_with? "filled_form.fields" %>
                      <%= error.message %>
                    <% else %>
                      <%= error.full_message %></li>
                    <% end %>
                  </li>
                  <% if @show_reupload_files_notice %>
                    <li>
                      <%= t "admissions.apply.edit.upload_notice" %>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
        <%= render partial: "admissions/filled_form/candidate_forms", locals: {
          form: form,
          admission_process: @admission_process,
          admission_application: @admission_application,
          show_name: @show_name,
          show_email: @show_email,
          show_groups:,
          can_edit_main:,
          main_visible: true,
          show_letter_forms: false,
          show_phases: show_groups,
          show_rankings: true,
          can_edit_override: false,
          check_candidate_permission: true,
          committee_permission_user: nil,
          can_disable_submission: false,
        } %>
        <p class="form-footer">
          <%= form.submit t("admissions.apply.edit.#{can_edit[0]}", **can_edit[1]), id: "submit" %>
        </p>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $("#submit").click(function(e){
      window.onbeforeunload = null;
      for (let filled_id_def of $("#<%= form_id %> .filled-form-html-id")) {
        let filled_id = $(filled_id_def).text().trim()
        for (let validation of window.customFormValidations[filled_id]) {
          try {
            if (!validation()) {
              e.preventDefault();
              return false;
            }
          } catch (error) {
            console.error(error)
          }
        }
      }
    })
  });
</script>
