<div class="content">
  <div class="active-scaffold default-theme">
    <div class="active-scaffold-header">
      <h2><%= @admission_process.title %></h2>
    </div>
    <div class="admission-inner show">
      <% if flash[:alert] %>
        <div id="error_login"><%= flash[:alert] %></div>
      <% end %>

      <div>
        <h5>
          <%= t "admissions.apply.show.title" %>
          <a data-show="<%= t "active_scaffold.show"%>"
              data-hide="<%= t "active_scaffold.hide"%>"
              data-toggable="main-section" style=""
              class="as-js-button visibility-toggle" href="#"
          >
            <%= (t "active_scaffold.hide") %>
          </a>
        </h5>
        <div id="main-section">
          <ol>
            <li>
              <% if !@admission_application.filled_form.is_filled %>
                <%= t "admissions.apply.show.ongoing" %>
              <% elsif @admission_application.missing_letters? %>
                <%= t "admissions.apply.show.finished_waiting_letters" %>
              <% else %>
                <%= t "admissions.apply.show.finished" %>
              <% end %>
            </li>
            <% [:token, :name, :email].each do |attr| %>
              <%= render partial: "show_value", locals: {
                name: t("activerecord.attributes.admissions/admission_application.#{attr}"),
                value: @admission_application.send(attr)
              } %>
            <% end %>
          </ol>
          <p class="links">
            <% can_edit = @admission_application.candidate_can_edit %>
            <% if can_edit.present? %>
              <a href="<%= edit_admission_apply_path(
                  admission_id: @admission_process.simple_id,
                  id: @admission_application.token
                ) %>">
                <%= t("admissions.apply.show.#{can_edit[0]}", **can_edit[1]) %>
              </a>
            <% end %>
          </p>
        </div>
      </div>
      <% @admission_application.rankings.reverse.each do |ranking| %>
        <% next if !ranking.filled_form.is_filled %>
        <% next if !ranking.ranking_config.candidate_can_see %>
        <div>
          <%= toggable_area(ranking.ranking_config.name, id: "ranking-#{ranking.id}") do %>
            <ol>
              <li>
                <%= render partial: "admissions/filled_form/show/filled_form_template", locals: {
                  form_template: ranking.filled_form.form_template,
                  filled_form: ranking.filled_form } %>
              </li>
            </ol>
          <% end %>
        </div>
      <% end %>
      <%
        disabled = false
        phases = @admission_process.phases.order(:order).filter_map do |p|
          next if disabled
          phase = p.admission_phase
          app_forms = phase.prepare_application_forms(
            @admission_application,
            can_edit_override: false,
            check_candidate_permission: true,
            committee_permission_user: nil,
          )
          disabled = app_forms[:latest_available_phase]
          { phase:, app_forms: }
        end
      %>
      <% phases.reverse.each do |phase_obj| %>
        <div>
          <% phase_obj[:app_forms][:phase_forms].reverse.each do |phase_form| %>
            <%= toggable_area("#{phase_obj[:phase].name} (#{phase_form[:name]})", id: "#{phase_obj[:phase].id}-#{phase_form[:name]}") do %>
              <ol>
                <li>
                  <%= render partial: "admissions/filled_form/show/filled_form_template", locals: {
                    form_template: phase_form[:object].filled_form.form_template,
                    filled_form: phase_form[:object].filled_form } %>
                </li>
              </ol>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <div>
        <%= toggable_area(t("admissions.apply.show.data"), id: "data-section") do %>
          <ol>
            <li>
              <%= render partial: "admissions/filled_form/show/filled_form_template", locals: {
                form_template: @admission_process.form_template,
                filled_form: @admission_application.filled_form } %>
            </li>
          </ol>
        <% end %>
      </div>
      <% if @admission_process.has_letters && @admission_application.letter_requests.present? %>
        <div>
          <%= toggable_area(t("admissions.apply.show.letters"), id: "letters-section") do %>
            <ol>
              <li>
                <table class="showtable listed-records-table">
                  <thead>
                    <tr>
                      <th><%= t "activerecord.attributes.admissions/letter_request.name" %></th>
                      <th><%= t "activerecord.attributes.admissions/letter_request.email" %></th>
                      <th><%= t "activerecord.attributes.admissions/letter_request.telephone" %></th>
                      <th><%= t "activerecord.attributes.admissions/letter_request.status" %></th>
                    </tr>
                  </thead>
                  <tbody class="records">
                    <% @admission_application.letter_requests.each_with_index do |letter, index| %>
                      <tr class="record <%= "even-record" if index.even? %>">
                        <td><%= letter.name %></td>
                        <td><%= letter.email %></td>
                        <td><%= letter.telephone %></td>
                        <td><%= letter.status %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </li>
            </ol>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
