<div>
  <%= toggable_area(name, id:, visible:) do %>
    <% if can_edit %>
      <ol class="form filled-form">
        <%= form.fields_for field, [object] do |association_form_object| %>
          <% hidden_fields.each do |hidden| %>
            <%= association_form_object.hidden_field hidden %>
          <% end %>
          <%= association_form_object.fields_for :filled_form do |filled_form| %>
            <% filled_form_hidden.each do |hidden| %>
              <%= filled_form.hidden_field hidden %>
            <% end %>
            <%= render partial: "admissions/filled_form/edit/filled_form_template", locals: {
              form: form,
              form_template: object.filled_form.form_template,
              filled_form:, can_disable_submission: } %>
          <% end %>
        <% end %>
      </ol>
    <% else %>
      <%= render partial: "admissions/filled_form/show/filled_form_template", locals: {
                form_template: object.filled_form.form_template,
                filled_form: object.filled_form} %>
    <% end %>
  <% end %>
</div>
