<%
  if @override
    return "Acesso inválido" if !controller.override_authorized?(record)
  else
    return "Acesso inválido" if !controller.update_authorized?(record)
  end
  admission_process = record.admission_process
  current_phase = record.admission_phase
  visible = true # current_phase.nil? ? true : current_phase.can_edit_candidate
  subid = "as_admissions__admission_applications-#{record.id}-edit-div"
  record.filled_form.prepare_missing_fields
  record.prepare_missing_letters
  record.filled_form.sync_fields_before(record)
  show_name = admission_process.form_template.fields
    .where(sync: Admissions::FormField::SYNC_NAME).first.blank?
  show_email = admission_process.form_template.fields
    .where(sync: Admissions::FormField::SYNC_EMAIL).first.blank?

  can_edit_override = can?(:override, record) && admission_process.staff_can_edit && @override
  can_edit_main = can_edit_override || current_phase.try(:can_edit_candidate)
  students = record.students
  student_map = {
    cpf: "CPF",
    email: "email",
    cpf_and_email: "CPF e email"
  }
%>
<ol>
<% if current_phase.nil? %>
  <li class="form-element"><dl><dt>Fase atual</dt><dd>Candidatura</dd></dl>
  <li class="form-element"><dl><dt>Data de início</dt><dd><%= admission_process.start_date %></dd></dl>
  <li class="form-element"><dl><dt>Data de fim</dt><dd><%= admission_process.start_date %></dd></dl>
<% else %>
  <% process_phase = admission_process.phases.where(admission_phase_id: current_phase.id).first %>
  <li class="form-element"><dl><dt>Fase atual</dt><dd><%= current_phase.name %></dd></dl>
  <% if process_phase.start_date.present? %>
    <li class="form-element"><dl><dt>Data de início</dt><dd><%= admission_process.start_date %></dd></dl>
  <% end %>
  <% if process_phase.end_date.present? %>
    <li class="form-element"><dl><dt>Data de fim</dt><dd><%= admission_process.end_date %></dd></dl>
  <% end %>
<% end %>
<% students.each do |key, values| %>
  <% values.each do |student| %>
    <li class="form-element">
      <dl>
        <dt>
          Aluno(a) encontrado(a) por <%= student_map[key] %>
        </dt>
        <dd>
          <%= link_to student.name, students_url(id: student.id), target: :_blank %>
          <% if student.enrollments.present? %>
            (<%= link_to student.enrollments.map(&:enrollment_number).join(', '),
                enrollments_url("search[student]" => student.id), target: :_blank
            %>)
          <% else %>
            (Sem matrícula)
          <% end %>
        </dd>
      </dl>
    </li>
  <% end %>
<% end %>
</ol>
<input type="hidden" name="can_edit_override" value="<%= 1 if can_edit_override %>"/>

<%= fields_for :record, record, multipart: true do |form| %>
  <div id="<%= subid %>">
    <%= render partial: "admissions/filled_form/candidate_forms", locals: {
      subid:,
      form: form,
      admission_process: admission_process,
      admission_application: record,
      show_name: show_name,
      show_email: show_email,
      show_groups: true,
      can_edit_main:,
      main_visible: visible,
      show_letter_forms: true,
      show_phases: current_phase.present?,
      show_rankings: true,
      can_edit_override:,
      check_candidate_permission: false,
      committee_permission_user: can_edit_override ? nil : current_user,
      can_disable_submission: can_edit_override,
    } %>
  </div>
<% end%>


<script>
  $(document).ready(function() {
    $(`.submit`).click(function(e){
      window.onbeforeunload = null;
      for (let filled_id_def of $("#<%= subid %> .filled-form-html-id")) {
        let filled_id = $(filled_id_def).text().trim()
        for (let validation of window.customFormValidations[filled_id]) {
          try {
            if (!validation()) {
              e.preventDefault();
              return false;
            }
          } catch (error) {
            console.error(error)
          }
        }
      }
    })
  });
</script>
