<div class="content">
  <div class="active-scaffold default-theme">
    <div class="active-scaffold-header">
      <h2><%= I18n.t("admissions.admissions.index.title") %></h2>
    </div>
    <div class="admission-inner">
      <% if flash[:alert] %>
        <div id="error_login"><%= flash[:alert] %></div>
      <% end %>
      <div>
        <div class="count">
          <%= I18n.t("admissions.admissions.index.open_processes",
                     count: @admission_processes.count) %>
        </div>
        <% @admission_processes.each do |process| %>
          <div class="show-box">
            <h3>
              <%= process.name %>
            </h3>
            <%= link_to I18n.t("admissions.admissions.index.apply"),
                admission_url(process.simple_id), method: :get %>
            <div class="deadline">
              <%= I18n.t("admissions.admissions.index.deadline") %>
              <%= process.end_date %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="existing-admission-section">
        <%= toggable_area(t("admissions.admissions.index.recover"), id: "existing-admission", visible: @has_search_results) do %>
          <%= render partial: "recover_form", locals: {
            admission_application: @admission_application,
            source: ""
          } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
