<%
  basename = options[:name][..-(column.name.size + 3)]
  data_url = ""
  if record.present? && record.photo.file.present?
    if record.photo.file.file.respond_to?(:medium_hash)
      data_url = download_path(record.photo.medium_hash)
    else
      cached = record.photo.file
      content_type = cached.content_type.presence || "image/jpeg"
      data_url = "data:#{content_type};base64,#{Base64.strict_encode64(cached.read)}"
    end
  end
%>

<div
  class="webcam-photo" data-id="<%= options[:id] %>" data-url="<%= data_url %>"
  data-basename="<%= basename %>" data-column="<%= column.name %>"
  data-remove-label="Remover foto"
>
  <%= active_scaffold_input_carrierwave(column, options) %>
</div>

<script>
  $(document).ready(function() {
    carrierwave_webcam(".webcam-photo");
  });
</script>
