<%
  basename = options[:name][..-(column.name.size + 3)]
  data_url = record.present? && record.photo.present? ? download_path(record.photo.medium_hash) : ""
%>

<div
  class="webcam-photo" data-id="<%= options[:id] %>" data-url="<%= data_url %>"
  data-basename="<%= basename %>" data-column="<%= column.name %>"
  data-remove-label="Remover foto"
>
  <%= active_scaffold_input_carrierwave(column, options) %>
</div>

<script>
  $(document).ready(function() {
    carrierwave_webcam(".webcam-photo");
  });
</script>
