<% resource_name = resource.class.to_s.downcase %>
<h5>Parâmetros de consulta</h5>
<div>
  <table class="showtable listed-records-table">
    <thead>
    <tr>
      <th>Tipo</th>
      <th>Variável</th>
      <th>Valor</th>
      <th>Default</th>
    </tr>
    </thead>
    <tbody class="records">
    <% query_params.each do |param| %>
      <tr class="record">
        <td>
          <%= param.value_type %>
        </td>
        <td>
          <%= param.name %>
        </td>
        <% if Notification::DERIVED_PARAMS.include?(param.name) %>
          <td>
            <span><%= param.value %></span>
          </td>
          <td>
            (derivado de <b><%= Notification::DERIVED_PARAMS[param.name] %></b>)
          </td>
        <% else %>
          <td>
            <% if param.type.list? || param.default_value.nil? %>
              <%= text_field_tag(
                "#{resource_name}_#{resource.id}_#{param.name}",
                param.value,
                data: {
                  name: "query_params[#{param.name}]",
                    "link-target" => "#as_#{resource_name.pluralize}-simulate-#{resource.id}-link"
                },
                id: "#{resource_name}_#{resource.id}_#{param.name}",
                class: "_onchange_param_field _param_field _param_type_#{param.value_type.downcase}"
              ) %>
            <% else %>
              <%= text_field_tag(
                "#{resource_name}_#{resource.id}_#{param.name}",
                param.parsed_value,
                data: {
                  name: "query_params[#{param.name}]",
                    "link-target" => "#as_#{resource_name.pluralize}-simulate-#{resource.id}-link"
                },
                id: "#{resource_name}_#{resource.id}_#{param.name}",
                class: "_onchange_param_field _param_field _param_type_#{param.value_type.downcase}"
              ) %>
            <% end %>
          </td>
          <td>
            Defaults:
            <small class="_default_value" data-default_value="<%= param.default_value %>">
              <a href="javascript:void(o)">(Consulta: <%= param.default_value %>)</a>
            </small>
            <small class="_default_value" data-default_value="<%= param.simulation_value %>">
              <a href="javascript:void(o)">(Notificação: <%= param.simulation_value %>)</a>
            </small>
          </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>

  <script type="text/javascript">

      $("._default_value").click(function () {
          var _this = $(this);
          _this.parents("tr").first().find("._param_field").val(_this.data("default_value")).trigger("change");
      });

      $("._onchange_param_field").change(function () {
          var link = $($(this).data("link-target"));
          var p = link.prop("search").replace(/^\?/, "");
          var params = queryStringToHash(p);
          var params_elements = $("._onchange_param_field");
          for (var i = 0, len = params_elements.length; i < len; i++) {
              var current_param = $(params_elements[i]);
              params[current_param.data("name")] = current_param.val()
          }
          link.prop("search", $.param(params));
      }).first().trigger("change");

      $("._param_type_date").datepicker();

  </script>
</div>
