
<label for="query_date_<%= @notification.id %>"> <%= I18n.t('active_scaffold.notification.query_date')%>: </label>

<input autocomplete="off" class="query_date-input text-input" date:yearrange="c-10:c+10" id="query_date_<%= @notification.id %>" name="record[query_date]" size="30" type="text" value="<%= I18n.localize(@query_date, :format => :default) %>">
		
<span class="description"> Esta opção só é válida para os links "Enviar agora" e "Simular" </span>


<script>

function updateURL(element, date) {
	var url = element.attr('href');
	url = url.replace(/\?query_date=.*/, "").replace(/&query_date=.*/, "");
	url = addToQueryString(url, 'query_date', date);
	element.attr('href', url);
}

$(function() {
	$("#query_date_<%= @notification.id %>").datepicker({
		onSelect: function(date) {
			updateURL($("#as_notifications-execute_now-<%= @notification.id %>-link"), date);
			updateURL($("#as_notifications-simulate-<%= @notification.id %>-link"), date);
			updateURL($("#as_notifications-set_query_date-<%= @notification.id %>-link"), date);
		}
	});
	
});	
</script>

