<%
  filled_hash = filled_form.object.fields.index_by(&:form_field_id)
  current_group = []
  groups = [[nil, nil, current_group]]
  form_template.fields.order(:order, :id).each do |field|
    if field.field_type == Admissions::FormField::GROUP
      current_group = []
      groups << [field, :ol, current_group]
    elsif (
      field.field_type == Admissions::FormField::SCHOLARITY || (
        field.field_type == Admissions::FormField::STUDENT_FIELD &&
        JSON.parse(field.configuration || "{}")["field"] == "special_majors"
      )
    )
      groups << [field, :div, [filled_hash[field.id]]]
    else
      current_group << filled_hash[field.id]
    end
  end
%>

<% groups.each do |gfield, gtag, fields| %>
  <% if gfield.present? %>
    <% gid = "group-#{Random.rand(10000)}" %>
    <li class="sub-form">
      <h5>
        <%= gfield.name %>
        <a data-show="Mostrar" data-hide="Ocultar"
        data-toggable="<%= gid %>" style=""
        class="as-js-button visibility-toggle" href="#">Ocultar</a>
      </h5>
      <%= content_tag(gtag, id: gid, class: "form") do %>
        <% if gfield.description.present? %>
          <span class="filled-form-description"><%= gfield.description %></span>
        <% end %>
        <%= filled_form.fields_for :fields, fields do |field| %>
          <%= render partial: "admissions/filled_form/edit/generic_field",
                    locals: { field: field } %>
        <% end %>
      <% end %>
    </li>
  <% else %>
    <%= filled_form.fields_for :fields, fields do |field| %>
      <%= render partial: "admissions/filled_form/edit/generic_field",
                locals: { field: field } %>
    <% end %>
  <% end %>
<% end %>
