<%
  options = {size: 30}
  options[:required] = "required" if configuration["required"]

  first_year = 100.years.ago.year
  last_year = 10.years.from_now.year

  field_id = "date_#{SecureRandom.random_number(1_000_000)}"
%>
<li class="form-element <%= configuration["required"] ? "required" : "" %>">
  <dl>
    <dt>
      <%= field.label :value, form_field.name %>
      <% if form_field.description.present? %>
        <span class="filled-form-description"><%= form_field.description %></span>
      <% end %>
    </dt>
    <dd id="<%= field_id %>"> <%= field.text_field :value, class: "text-input",
             placeholder: configuration["placeholder"], **options %> </dd>
  </dl>
</li>

<script>
  $(document).ready(function() {

    function validateDateField(value) {
      if (!value) {
        return "";
      }
      const regex = /^(\d{1,2})\/(\d{1,2})\/(\d{2,4})$/;
      groups = value.match(regex)
      if (!groups || isNaN(Date.parse(`${groups[3]}-${groups[2]}-${groups[1]}`))) {
        return `<%= form_field.name %> <%= I18n.t(
          "activerecord.errors.models.admissions/filled_form_field.invalid_date",
        ) %>`
      }
      return "" ;
    }

    window.customFormValidations.push(function() {
      let input = $(`#<%= field_id %> input`).get(0)
      error_msg = validateDateField($(input).val());
      input.setCustomValidity(error_msg);
      if (error_msg != "") {
        input.reportValidity()
        return false;
      }
      return true;
    })

    $(`#<%= field_id %> input`).datepicker({
      yearRange: '<%= first_year %>:<%= last_year %>'
    })

  });
</script>