<%
  values = form_field.get_values_map("values")
  options = {}
  options[:checked] = configuration["default"] if configuration["default"].present?
  values = values.map { |k, v| [v, k] }
%>
<li class="form-element <%= configuration["required"] ? "required" : "" %>">
  <dl>
    <dt>
      <%= field.label :value, form_field.name %>
      <% if form_field.description.present? %>
        <span class="filled-form-description"><%= form_field.description %></span>
      <% end %>
    </dt>
    <dd>
      <%= field.collection_radio_buttons :value, values, :last, :first, options do |b| %>
        <div class="form-template-checkbox-list <%= "vertical-style" if configuration["vertical_layout"].present? %>">
          <%= b.label do %>
            <%= b.radio_button %> <%= b.text %>
          <% end %>
        </div>
      <% end %>
    </dd>
  </dl>
</li>
