<%
  field_id = "checkbox_#{SecureRandom.random_number(1_000_000)}"
%>
<li class="form-element" id="<%= field_id %>">
  <dl>
    <dt>
      <%= field.label :value, form_field.name %>
      <% if form_field.description.present? %>
        <span class="filled-form-description"><%= form_field.description %></span>
      <% end %>
    </dt>
    <dd> <%= field.check_box :value, class: filled_class %> </dd>
  </dl>
</li>

<script>
$(document).ready(function() {
  $(`#<%= field_id %> input[type=hidden]`).addClass("<%= filled_class %>");
})
</script>