<%
  values = form_field.get_values_map("values")
  options = {}
  options[:checked] = configuration["default"] if configuration["default"].present?
  values = values.map { |k, v| [v, k] }
  field_id = "radio_#{SecureRandom.random_number(1_000_000)}"
%>
<li class="form-element <%= configuration["required"] ? "required" : "" %>">
  <dl>
    <dt>
      <label><%= form_field.name %></label>
      <% if form_field.description.present? %>
        <span class="filled-form-description"><%= form_field.description %></span>
      <% end %>
    </dt>
    <dd id="<%= field_id %>">
      <%= field.collection_radio_buttons :value, values, :last, :first, options do |b| %>
        <div class="form-template-checkbox-list <%= "vertical-style" if configuration["vertical_layout"].present? %>">
          <%= b.label do %>
            <%= b.radio_button class: filled_class %> <%= b.text %>
          <% end %>
        </div>
      <% end %>
    </dd>
  </dl>
</li>


<script>
$(document).ready(function() {
  $(`#<%= field_id %> input[type=hidden]`).addClass("<%= filled_class %>")
  <% if configuration["required"] %>
    window.customFormValidations["<%= filled_class %>"].push(function() {
      let input = $(`#<%= field_id %> input`).get(1);
      if (input.disabled) {
        return true;
      }
      let error_msg = "";
      if (!$(`#<%= field_id %> input:checked`).get(0)) {
        error_msg = `<%= form_field.name %> <%= I18n.t(
          "activerecord.errors.models.admissions/filled_form_field.blank",
        ) %>`
      }
      input.setCustomValidity(error_msg);
      if (error_msg != "") {
        input.reportValidity()
        return false;
      }
      return true;
    })
  <% end %>
});
</script>
