<%
  scope = field.object_name["record".size..]
  column = Admissions::FilledFormFieldsController.active_scaffold_config.columns[:value]
  options = active_scaffold_input_options(column, scope, :object => field.object)

  street_options = {size: 45, class: "text-input residency-field"}
  street_options[:required] = "required" if configuration["required"]
  number_options = {size: 5, class: "text-input residency-field"}
  number_options[:required] = "required" if configuration["number_required"]
  values = (field.object.value || "").split(" <$> ")
  (2 - values.length).times { values << "" }
%>
<li class="form-element <%= configuration["required"] ? "required" : "" %>">
  <dl>
    <dt>
      <%= field.label :value, form_field.name %>
      <% if form_field.description.present? %>
        <span class="filled-form-description"><%= form_field.description %></span>
      <% end %>
    </dt>
    <dd id="<%= options[:id] %>">
      <%= field.hidden_field :value, class: "hidden" %>
      <%= text_field_tag :city, values[0], placeholder: I18n.t(
        "activerecord.attributes.admissions/form_field.field_types.residency_fields.street"
      ), **street_options %>
      <%= text_field_tag :state, values[1], placeholder: I18n.t(
        "activerecord.attributes.admissions/form_field.field_types.residency_fields.number"
      ), **number_options %>
    </dd>
  </dl>
</li>

<script>

$(document).ready(function() {
  $(`#<%= options[:id] %> .residency-field`).on("change", function() {
    let value = $(`#<%= options[:id] %> .residency-field`)
      .map((i, el) => $(el).val()).toArray()
      .join(" <$> ")
    $(`#<%= options[:id] %> .hidden`).val(value)
  })
})

</script>
