<ol class="nested-fields scholarity">
  <li class="form-element required">
    <dl>
      <dt><%= f.label :level %></dt>
      <dd><%= f.select :level, values %></dd>
    </dl>
  </li>
  <li class="form-element required">
    <dl>
      <dt><%= f.label :status %></dt>
      <dd><%= f.select :status, statuses %></dd>
    </dl>
  </li>
  <li class="form-element required">
    <dl>
      <dt><%= f.label :institution %></dt>
      <dd><%= f.text_field :institution %></dd>
    </dl>
  </li>
  <li class="form-element required">
    <dl>
      <dt><%= f.label :course %></dt>
      <dd><%= f.text_field :course %></dd>
    </dl>
  </li>
  <li class="form-element required">
    <dl>
      <dt><%= f.label :location %></dt>
      <dd><%= f.text_field :location %></dd>
    </dl>
  </li>
  <li class="form-element required">
    <dl>
      <dt><%= f.label :grade %></dt>
      <dd><%= f.text_field :grade %></dd>
    </dl>
  </li>
  <li class="form-element required">
    <dl>
      <dt><%= f.label :start_date %></dt>
      <dd><%= f.date_field :start_date %></dd>
    </dl>
  </li>
  <li class="form-element required">
    <dl>
      <dt><%= f.label :end_date %></dt>
      <dd><%= f.date_field :end_date %></dd>
    </dl>
  </li>
  <li class="form-element remove-scholarity">
    <%= link_to_remove_association (t "admissions.apply.edit.scholarity.remove"), f %>
  </li>
  <li class="form-element">
    <br/>
  </li>
</ol>
