- if params[:error]=='OK'
  %h1 #{I18n.t 'apply.application_finished'}
  %h3 #{I18n.t 'apply.application_finished_get_mail'}
- else
  %h2 #{I18n.t 'apply.application_error'}
  %p #{params[:error]}
  = link_to I18n.t('activerecord.models.application_process.other'), apply_url