<table class="showtable listed-records-table">
  <thead>
    <tr>
      <th><%= I18n.t("activerecord.attributes.professor.name") %></th>
      <th><%= I18n.t("activerecord.attributes.professor.institution.one") %></th>
    </tr>
  </thead>
  <tbody class="records">
    <% count = 0 %>
    <% thesis_defense_committee_professors.each do |professor| %>
      <% count += 1 %>
      <% tr_class = count.even? ? "even-record" : "" %>
      <tr class="record <%= tr_class %>">
        <td><%= professor.name %></td>
        <td><%= rescue_blank_text(professor.affiliations.where(active: true).last, method_call: :name) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
