<% no_gpr_class_enrollments = [] %>

<table class="showtable listed-records-table">
  <thead>
    <tr>
      <th><%= I18n.t('activerecord.attributes.course_class.semester') %></th>
      <th><%= I18n.t('activerecord.models.course.one') %></th>
      <th><%= I18n.t('activerecord.attributes.class_enrollment.situation') %></th>
      <th><%= I18n.t('activerecord.attributes.class_enrollment.grade') %></th>
      <th><%= I18n.t('activerecord.attributes.class_enrollment.disapproved_by_absence') %></th>
      <% if show_obs %>
        <th><%= I18n.t('activerecord.attributes.class_enrollment.obs') %></th>
      <% end %>
    </tr>
  </thead>
  <tbody class="records">
    <% count = 0 %>
    
    <% class_enrollments.each do |class_enrollment| %>
      <% count += 1 %>
      <% tr_class = count.even? ? "even-record" : "" %>
      <% no_gpr_class_enrollments << class_enrollment if class_enrollment.grade_not_count_in_gpr.present? %>
      <tr class="record <%= tr_class %>">
        <td><%= class_enrollment.course_class.semester_label %></td>
        <td><%= class_enrollment.course_class.course.name %></td>
        <td><%= class_enrollment.situation %></td>
        <td><%= class_enrollment.grade_label(false) %></td>
        <% if class_enrollment.attendance_to_label == "I" %>
          <td>Sim</td>
        <% else %>
          <td>Não</td>
        <% end %>
        <% if show_obs %>
          <td><%= class_enrollment.obs %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if no_gpr_class_enrollments.any? %>
  <div class="grade-not-count-in-gpr-justification-label"> * Disciplinas que não contabilizam nota: </div>
  <table class="showtable listed-records-table">
    <thead>
      <tr>
        <th><%= I18n.t('activerecord.attributes.course_class.semester') %></th>
        <th><%= I18n.t('activerecord.models.course.one') %></th>
        <th><%= I18n.t('activerecord.attributes.class_enrollment.justification_grade_not_count_in_gpr') %></th>
      </tr>
    </thead>
    <tbody class="records">
      <% count = 0 %>
      <% no_gpr_class_enrollments.each do |class_enrollment| %>
        <% count += 1 %>
        <% tr_class = count.even? ? "even-record" : "" %>
        <tr class="record <%= tr_class %>">
          <td><%= class_enrollment.course_class.semester_label %></td>
          <td><%= class_enrollment.course_class.course.name %></td>
          <td><%= class_enrollment.justification_grade_not_count_in_gpr %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>