<%
  table = prepare_class_schedule_table(
    available_classes, on_demand, advisement_authorizations
  )
  estars = ""
  found_main_authorized = nil
  found_advisor_authorized = nil
  enrollment.advisements.each do |advisement|
    professor = advisement.professor
    if advisement_authorizations.include? professor
      found_advisor_authorized = professor
      found_main_authorized = professor if advisement.main_advisor
    end
  end
  select_professor = found_main_authorized || found_advisor_authorized
%>

<table class="enroll-table">
  <thead>
    <tr>
      <% if enrollment_request.persisted? %>
          <th> <%= t "student_enrollment.enroll.class_status" %> </th>
      <% end %>
      <th> <%= t "student_enrollment.enroll.do_enroll" %> </th>
      <% table[:header][0].drop(1).each do |head| %>
        <th class="cell-<%= head.downcase %>"> <%= head %> </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= form.hidden_field :course_class_ids, multiple: true, value:"" %>
    <% count = 0 %>
    <% table[:data].each_with_index do |row, row_index| %>
      <%
        cer = find_class_enrollment_request_for_class_schedule_table_row(
          enrollment_request, row
        )
        count += 1
      %>
      <% if display_class_schedule_table_row? semester, approved_courses, row, cer %>
        <% if display_non_on_demand_or_selected_on_demand? row, cer %>
          <%= render partial: "enroll_table_default_row", locals: {
            semester: semester,
            enrollment_request: enrollment_request,
            closed: closed,
            cer: cer,
            row: row,
            row_index: row_index,
            count: count,
            table: table,
            form: form } %>
        <% end %>
        <% if row[0][:on_demand] %>
          <%= render partial: "enroll_table_on_demand_row", locals: {
            semester: semester,
            enrollment_request: enrollment_request,
            closed: closed,
            cer: cer,
            row: row,
            row_index: row_index,
            count: count,
            table: table,
            form: form,
            select_professor: select_professor } %>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>

<ul>
  <% if table[:star] %>
    <li>* <%= I18n.t("pdf_content.course_class.class_schedule.noschedule") %></li>
    <% estars = "*" %>
  <% end %>
  <% unless CustomVariable.class_schedule_text.nil? || CustomVariable.class_schedule_text.empty? %>
    <li>*<%= estars %> <%= CustomVariable.class_schedule_text %></li>
  <% end %>
</ul>

<script>
  $(".on_demand_check").on("change", function() {
    var ischecked = $(this).is(":checked");
    if (!ischecked) {
      $(this).parents("tr").hide();
      $("#on_demand_row_" + $(this).data("row")).show();
    }
  })
</script>
