<h4><%= @query.to_label %></h4>

<%= render 'params_form', :resource => @query %>

<div class="actions" style="display: block; margin: 10px 0">
  <a id="as_queries-execute-<%= @query.id %>-link" class="execute as_action again" href="javascript:void(0)"><i class="fa fa-table" title="Executar"></i>
    Executar</a>
  &nbsp;&nbsp;
  <%= render 'show_sql', sql_query: @query_result[:query] %>
</div>

<div style="width: 865px; overflow-x: auto;" class="as_content">
  <table class="showtable listed-records-table">
    <thead>
    <tr>
      <% @query_result[:columns].each do |column_name| %>
          <th><%= column_name %></th>
      <% end %>
    </tr>
    </thead>
    <tbody class="records">
    <% @query_result[:rows].each_with_index do |row, index| %>
        <% tr_class = index.odd? ? "even-record" : "" %>
        <tr class="record <%= tr_class %>">
          <% row.each do |value| %>
              <td><%= value %></td>
          <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<p class="form-footer">
  <%= link_to as_(:close), main_path_to_return, :class => 'as_cancel', :remote => request.xhr? %>
  <%= loading_indicator_tag(:action => :create, :id => params[:id]) %>
</p>

<script type="text/javascript">
    $(".execute.as_action.again").click(function () {
        ActiveScaffold.find_action_link($("#as_queries-execute-<%= @query.id %>-link")).reload();
    })
</script>