<h4><%= @query.to_label %></h4>
<a href="javascript:void(0)">
  <small id="toggle_sql" class="toggle_sql">SQL</small>
</a>
<pre id="generated_sql" style="display: none">
  <%= @query_result[:query] %>
</pre>
<div>
  <% @query.params.each do |param| %>
      <div>
        <%= param.name %>
        <small>(<%= param.value_type %>)</small>
        <%= text_field_tag "query_#{@query.id}_#{param.name}", param.parsed_value, data: {name: "query_params[#{param.name}]"}, id: "query_#{@query.id}_#{param.name}", class: "_onchange_param_field _param_field _param_type_#{param.value_type.downcase}" %>
        <small class="_default_value" data-default_value="<%= param.default_value %>">(Default: <%= param.default_value %>
          )
        </small>
      </div>
  <% end %>
</div>
<div class="actions" style="display: block">
  <a id="as_queries-simulate-<%= @query.id %>-link" class="simulate as_action again" href="javascript:void(0)"><i class="fa fa-table" title="Simular"></i>
    Simular</a>
</div>

<div style="width: 865px; overflow-x: auto;" class="as_content">
  <table class="showtable listed-records-table">
    <thead>
    <tr>
      <% @query_result[:columns].each do |column_name| %>
          <th><%= column_name %></th>
      <% end %>
    </tr>
    </thead>
    <tbody class="records">
    <% @query_result[:rows].each_with_index do |row, index| %>
        <% tr_class = index.odd? ? "even-record" : "" %>
        <tr class="record <%= tr_class %>">
          <% row.each do |value| %>
              <td><%= value %></td>
          <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<p class="form-footer">
  <%= link_to as_(:close), main_path_to_return, :class => 'as_cancel', :remote => request.xhr? %>
  <%= loading_indicator_tag(:action => :create, :id => params[:id]) %>
</p>

<script type="text/javascript">
    $('._default_value').click(function () {
        var _this = $(this);
        _this.parent().find('._param_field').val(_this.data('default_value')).trigger('change');
    });

    $('._onchange_param_field').change(function () {
        var link = $("#as_queries-simulate-<%= @query.id %>-link");
        var p = link.prop('search').replace(/^\?/, '');
        var params = queryStringToHash(p);
        var params_elements = $('._onchange_param_field');
        for (var i = 0, len = params_elements.length; i < len; i++) {
            var current_param = $(params_elements[i]);
            params[current_param.data('name')] = current_param.val()
        }
        link.prop('search', $.param(params));
    });


    $("._param_type_date").datepicker();

    $("#toggle_sql").click(function () {
        $('#generated_sql').toggle()
    });

    $(".simulate.as_action.again").click(function () {
        ActiveScaffold.find_action_link($("#as_queries-simulate-<%= @query.id %>-link")).reload();
    })
</script>