= simple_form_for @form_template do |f|
  = f.input :name
  = f.input :description
  = f.input :is_letter

  %h3 Campos do Formulário:
  #form-container
    .links
      = link_to_add_association 'Adicionar campo texto curto', f, :form_fields, partial: 'form_fields',
                                  render_options: {locals: { type: 'string' }},
                                  'data-association-insertion-method' => 'append',
                                  'data-association-insertion-node' => '#fields'
    .links
      = link_to_add_association 'Adicionar menu de seleção', f, :form_fields, partial: 'form_fields',
                                  render_options: {locals: { type: 'select' }},
                                  'data-association-insertion-method' => 'append',
                                  'data-association-insertion-node' => '#fields'
    .links
      = link_to_add_association 'Adicionar seletor radio', f, :form_fields, partial: 'form_fields',
                                  render_options: {locals: { type: 'radio' }},
                                  'data-association-insertion-method' => 'append',
                                  'data-association-insertion-node' => '#fields'
    .links
      = link_to_add_association 'Adicionar Múltiplas Opções', f, :form_fields, partial: 'form_fields',
                                  render_options: {locals: { type: 'collection_checkbox' }},
                                  'data-association-insertion-method' => 'append',
                                  'data-association-insertion-node' => '#fields'
    .links
      = link_to_add_association 'Adicionar Opção Única', f, :form_fields, partial: 'form_fields',
                                  render_options: {locals: { type: 'single_checkbox' }},
                                  'data-association-insertion-method' => 'append',
                                  'data-association-insertion-node' => '#fields'
    .links
      = link_to_add_association 'Adicionar upload de arquivo', f, :form_fields, partial: 'form_fields',
                                  render_options: {locals: { type: 'file' }},
                                  'data-association-insertion-method' => 'append',
                                  'data-association-insertion-node' => '#fields'
    .links
      = link_to_add_association 'Adicionar campo texto longo', f, :form_fields, partial: 'form_fields',
                                  render_options: {locals: { type: 'text' }},
                                  'data-association-insertion-method' => 'after',
                                  'data-association-insertion-node' => '#fields'

    #fields
      = f.simple_fields_for :form_fields do |field|
        = render 'form_fields', f:field, type: field.object.field_type
  = f.submit