#as_form_templates-active-scaffold.active-scaffold.active-scaffold-as_form_templates.form_templates-view.default-theme
  .active-scaffold-header
    .actions
      = link_to 'Adicionar', new_form_template_url

%h1
  = I18n.t 'activerecord.models.form_template.other'

%table
  %thead
    %tr
      %th
        = I18n.t 'activerecord.attributes.form_template.name'
      %th
        = I18n.t 'activerecord.attributes.form_template.description'
      %th
        = I18n.t 'activerecord.attributes.form_template.type'
  %tbody
    - @form_templates.each do |ft|
      %tr
        %td
          = ft.name
        %td
          = ft.description
        %td
          = ft.get_form_type
