<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>Sapos</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= favicon_link_tag 'logoSapos-circle.png' %>

  <%= stylesheet_link_tag "application", media: "all", debug: false %>

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='container' class='<%= signed_in_class %>'>
    <span class="notice"><%= notice %></span>
    <div id='header'>
      <div id='logo'>
        <%= link_to root_path do %>
          <%= image_tag 'logoSapos.png' %>
        <% end %>
      </div>
      <div id="sub">
        Versão <%= APP_VERSION %> | <%= link_to 'Créditos', credits_show_path %>
      </div>
    </div>
    <div id='top_navigation' <%= display_none_if_logged_out %>>
      <%= optional_navigation level: 1 %>
    </div>
    <div id='main'>
      <div id='sub_navigation' <%= display_none_if_logged_out %>>
        <%= optional_navigation level: 2 %>
      </div>
      <div id='content'>
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
