<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>Sapos</title>
  <%= favicon_link_tag 'sapo.gif' %>
  <%= stylesheet_link_tag :all %>
<%# javascript_include_tag :defaults %>
  <%= stylesheet_link_tag 'jquery-ui' %>
  <%= javascript_include_tag 'jquery.min' %>
  <%= javascript_include_tag 'rails_jquery.js' %>
  <%= javascript_include_tag 'jquery-ui-min' %>
  <%= javascript_include_tag 'jquery-ui-timepicker-addon.js' %>
  <%= javascript_include_tag 'application.js' %>
  <%= active_scaffold_includes %>
  <%= stylesheet_link_tag 'active_scaffold_overrides' %>
  <%= record_select_includes %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="steelmeshdark"></div>
<div id="menubardiv"></div>

<div id='main_content'>
  <div class='menu'>
    <div class='header'>

      <% if session[:user_id] %>
          <div id="logout_button">
            <%= button_to 'Logout', logout_path, :method => :delete %>
          </div>
      <% end %>

      <div class='title'>
        <%= image_tag 'logoSapos.png' %>
      </div>
      <div class="sub">
        <span>
          <a href="http://www.ic.uff.br" target="_blank">Instituto de Computação /</a>
          <a href="http://www.uff.br" target="_blank">UFF</a>
        </span>
        <span id="saposgif">
          Versão <%= APP_VERSION %> <%= image_tag 'sapo.gif', :width => '20' %>
        </span>
      </div>
    </div>

    <div class='menu_content' <%= transparent_if_logged_out %>>
      <div id='top_navigation' <%= display_none_if_logged_out %>><%= render_navigation :level => 1 %></div>
      <div class='clear_float'></div>
      <div class='content_wrapper'>
        <div id='sub_navigation' <%= display_none_if_logged_out %>><%= render_navigation :level => 2 %></div>
        <div class='content'>
          <%= yield %>
        </div>
        <div class='clear_float'></div>
      </div>
    </div>

    <% if session[:user_id] %>
        <div id="credits_footer">
          <%= link_to 'Créditos', credits_show_path %>
        </div>
    <% end %>

  </div>
</div>

</body>
</html> 
