<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>Sapos</title>
  <%= favicon_link_tag 'logoSapos-circle.png' %>

  <%= stylesheet_link_tag "application", :media => "all", debug: false %>


  <%#= stylesheet_link_tag :all %>
<%# javascript_include_tag :defaults %>
  <%#= stylesheet_link_tag 'jquery-ui' %>

  <%#= javascript_include_tag 'jquery.min' %>
  <%#= javascript_include_tag 'rails_jquery.js' %>
  <%#= javascript_include_tag 'jquery-ui-min' %>
  <%#= javascript_include_tag 'date_picker_bridge.js' %>
  <%#= javascript_include_tag 'application.js' %>
  <%#= stylesheet_link_tag 'active_scaffold_overrides' %>

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<span class="notice"><%= notice %></span>

<div id='main_content'>
  <div class='menu'>
    <div class='header'>
      <div class='logo'>
        <%= link_to root_path do %>
          <%= image_tag 'logoSapos.png' %>
        <% end %>
      </div>
      <div class="sub">
        <span id="saposgif">
          Versão <%= APP_VERSION %> | <%= link_to 'Créditos', credits_show_path %>
        </span>
      </div>
    </div>

    <div class='menu_content' <%= transparent_if_logged_out %>>
      
      <div class='clear_float'></div>
      <div class='content_wrapper'>
        <div id='sub_navigation' <%= display_none_if_logged_out %>><%= optional_navigation :level => 2 %></div>
        <div class='content'>
          <div id='top_navigation' <%= display_none_if_logged_out %>><%= optional_navigation :level => 1 %></div>
          <div class='clear_float'></div>
          <div>
            <%= yield %>
          </div>
        </div>
        <div class='clear_float'></div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
