<%
  admission_report_config = Admissions::AdmissionReportConfig.new.init_default
  config = admission_report_config.prepare_table(record)
  config[:base_url] = request.base_url
%>

<div class="scrollable-table admissions-application-table">
  <div class="scrollable-wrapper">
    <table class="showtable">
      <thead>
        <tr>
          <% config[:header].each_with_index do |name, index| %>
            <th class="<%= "fixed-col" if index < 3 %>"><%= name %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% app_index = 0 %>
        <% config[:applications].each do |application| %>
          <%
            row = admission_report_config.prepare_html_row(config, application)
            tr_class = app_index.even? ? "even-record" : "blue-record"
            app_index += 1
          %>
          <tr class="record <%= tr_class %>">
            <% row.each_with_index do |element, index| %>
              <td class="<%= "fixed-col" if index < 3 %>"><%= element[:value] %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>