<%
  admission_report_config = @admission_report_config || Admissions::AdmissionReportConfig.new.init_default
  config = admission_report_config.prepare_table(record)
  config[:base_url] = request.base_url
%>

<div class="scrollable-table admissions-application-table">
  <div class="scrollable-wrapper">
    <table class="showtable">
      <thead>
        <% if admission_report_config.group_column_tabular == Admissions::AdmissionReportConfig::MERGE %>
          <tr>
            <%
              main_sections = config[:header].map { |column| column[:section][:title] }
              groups = main_sections.slice_when { |prev, curr| curr != prev }
              index = 0
            %>
            <% groups.each do |group| %>
              <th colspan="<%=group.size%>" class="<%= config[:header][index][:html_class] %>"><%= group[0] %></th>
              <% index += group.size %>
            <% end %>
          </tr>
        <% end %>
        <tr>
          <% config[:header].each_with_index do |column, index| %>
            <th class="<%= column[:html_class] %>"><%= column[:header] %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% app_index = 0 %>
        <% config[:applications].each do |application| %>
          <%
            row = admission_report_config.prepare_html_row(config, application)
            tr_class = app_index.even? ? "even-record" : "blue-record"
            app_index += 1
          %>
          <tr class="record <%= tr_class %>">
            <% row.each_with_index do |element, index| %>
              <td class="<%= element[:column][:html_class] %>"><%= element[:value] %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>