<%
  url_options ||= params_for(action: :consolidate_phase)
  xhr = request.xhr? if xhr.nil?
  cancel_link = true if cancel_link.nil?
  body_partial ||= 'form'
  form_id = element_form_id(action: :consolidate_phase, id: @record&.id)
  options = {
    id: form_id,
    class: "as_form consolidate_phase",
    method: :post,
    data: { loading: true },
  }
  cancel_options = {class: 'as_cancel'}

  if xhr
    cancel_options[:remote] = true
    options[:remote] = true
  end
  subid = "as_admissions__admission_processes-#{@admission_process.id}-phase-status-div"
  current_phase = @admission_process.current_phase
%>

<script type="text/javascript">
  function autoResize(){
    $('iframe').each(function(iFrame) {
      console.log(iFrame)
      $(this).height(this.contentWindow.document.body.scrollHeight + 5);
    })
  }

  window.addEventListener('message', function (evt) {
    console.log("Got message: " + JSON.stringify(evt.data) + " from origin: " + evt.origin);
    if (evt.data.type === "frame-resized") {
      autoResize()
    }
  }, false);
</script>

<%= form_tag url_options, options do %>
  <h4><%= active_scaffold_config.show.label(h(@admission_process.to_label)) %></h4>

  <div id="<%= element_messages_id(action: :consolidate_phase) %>" class="messages-container">
    <% unless xhr %>
      <p class="error-message message server-error" style="display:none;">
        <%= as_(:internal_error).html_safe %>
        <a href="#" class="close" title="<%= as_(:close).html_safe %>"><%= as_(:close).html_safe %></a>
      </p>
    <% end %>
    <%= render partial: 'messages' unless request.xhr? %>
  </div>

  <ol class="form">
    <li class="form-element required">
      <dl>
        <dt>
          <%= label_tag :consolidate_phase_id do %>Fase<% end%>
        </dt>
        <dd>
          <%= select_tag(:consolidate_phase_id, options_for_select(
            [["Candidatura", nil]] +
            @admission_process.phases.order(:order).map do |p|
              [p.admission_phase.name, p.admission_phase.id]
            end, current_phase.try(:id)
          ))%>
        </dd>
      </dl>
    </li>
    <li class="form-element required">
      <dl>
        <dt>
          <%= label_tag :show_summary do %>Mostrar alterações<% end%>
        </dt>
        <dd>
          <%= check_box_tag :show_summary %>
        </dd>
      </dl>
    </li>
    <li class="form">
      <div style="clear: both;">
        <%= toggable_area("Resumo", id: subid) do %>
          <% ([nil] + @admission_process.phases).each do |p| %>
            <%
              if p.nil?
                phase = nil
                phase_id = nil
                phase_name = "Candidatura"
                ol_id = "#{subid}-"
              else
                phase = p.admission_phase
                phase_id = phase.id
                phase_name = phase.to_label
                ol_id = "#{subid}-#{phase.id}"
              end
              candidates = @admission_process.admission_applications.where(
                admission_phase_id: phase_id
              )
              groups = candidates.group(:status).count
              groups.delete(nil)
              groups = groups.keys.sort.map { |key| ["#{key}".pluralize(groups[key]), groups[key]] }.to_h
              missing_committee = candidates.without_committee(phase_id).count
              pendent = candidates.with_pendencies(phase_id).size
              elligible = candidates.ready_for_consolidation(phase_id).size
              groups["Com comitê incompleto"] = missing_committee if missing_committee > 0
              groups["Pendente".pluralize(pendent)] = pendent if pendent > 0
              groups["<b>#{"Pronto".pluralize(elligible)} para consolidação</b>"] = elligible
              candidate_count = candidates.count

              style = "display:none;"
              if p.try(:admission_phase_id) == current_phase.try(:id)
                style = ""
              end
            %>
            <ol class="form phase-summary" id="<%= ol_id %>" style="<%= style %>">
              <li class="form-element"><dl>
                <dt>Fase</dt><dd><%= phase_name %></dd>
              </dl></li>
              <li class="form-element"><dl>
                <dt><%= "Candidato".pluralize(candidate_count) %></dt><dd><%= candidate_count %></dd>
              </dl></li>
              <% groups.each do |key, value| %>
                <li class="form-element"><dl>
                  <dt><%= key.html_safe %></dt><dd><%= value %></dd>
                </dl></li>
              <% end %>
              <li class="admissions-table show-view">
                <div style="clear:both; display: block; width: 100%; height: 100%">
                  <% visible = true %>
                  <%= toggable_area("Candidaturas", id: "#{subid}-#{phase_id}-summary", visible:, group_options: { class: "active-scaffold-component" }) do %>
                    <iframe
                      onLoad="autoResize();" marginheight="0" frameborder="0"
                      frameborder="0" style="overflow:hidden;height:100%;width:100%"
                      src="<%= admission_applications_url(
                      admission_process_id: @admission_process.id,
                      admission_phase_id: phase_id.nil? ? "" : phase_id,
                      simple_view: "1",
                    ) %>"></iframe>
                  <% end %>
                </div>
              </li>
            </ol>
          <% end %>
        <% end %>
      </div>
    </li>

  </ol>

  <p class="form-footer">
    <%= submit_tag "Consolidar fase", class: "submit" %>
    <%= link_to(as_(:cancel), main_path_to_return, cancel_options) if cancel_link %>
    <%= loading_indicator_tag(action: :consolidate_phase, id: @record&.id) %>
  </p>
<% end %>

<script>

$(document).ready(function() {
  $(`#<%= form_id %> select[name="consolidate_phase_id"]`).on("change", function() {
    $("#<%= form_id %> .phase-summary").hide();
    $(`#<%= subid %>-${$(this).val()}`).show();
  })
});

</script>
